/*---- Common ----*/
body {
  font-family: 'Chakra Petch', sans-serif;
}
.container{
  width : 100% ;
  max-width : 1200px ;
  margin : 0px auto ;
}

  /* Add margin between adjacent section */
.section {
  margin-bottom: 64px;
}


.section-title {
  font-size: 32px;
  font-weight: 600;

  margin-bottom : 24px;
}

/*---- Menu ----*/
.menu-bar {
  display: flex;
  justify-content: space-between;
  /* justify-content: space-around; */
  align-items: center;
  height:72px;

  padding-left: 50px; 
  padding-right: 50px;

  /* sticky */
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100;
  
}
.menu-bar .logo{
  height: 20px;
}
.nav-list {
  display: flex;
}
.nav-item {
  margin-left: 24px;
}



/*---- Hero Section ----*/
.hero-section {
  background-image: url('../images/hero-background.jpg'); /* Photo by Nicholas Kampouris on Unsplash */
  background-size: cover;
  background-position: center center;

  height: 720px;
  padding-top: 128px;
}
.hero-title {
  font-size: 64px;
  font-weight: 600;

  height: 720px;
  padding-top: 128px;
}

/*---- Collection Section ----*/
.collection-item {
  background-size: cover;
  background-position: 50% 82%;

  /* exercise 1 */
  padding: 24px;
  border-radius: 8px;
}
.collection-item-title{
  font-size: 20px;
  font-weight: 600;

  /* exercise 1 */
  margin-bottom: 12px;
}

.collection-item-one {
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.1)),
    url('../images/classic-collection.jpg'); /* Photo by NordWood Themes on Unsplash */

}

.collection-item-two {
  background-image: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.2)
    ),
    url('../images/sport-collection.jpg'); /* Photo by Tom Radetzki on Unsplash */
}

.collection-item-three {
  background-image: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.3)
    ),
    url('../images/sandal-collection.jpg'); /* Photo by Andy Garza on Unsplash */
}

.collection-item-four {
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.2)),
    url('../images/casual-collection.jpg'); /* Photo by Trendest Studio on Unsplash */
}

/*---- Product Section ----*/
.product-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.product-item {
  width: calc(100% / 3);
  margin-bottom: 16px;
  padding : 0px 16px;
  box-sizing: border-box;
  position: relative;
}
.product-item-image {
  width:100% ;
  max-height: 250px;
  object-fit: cover;
  border-radius: 18px; 
  margin-bottom: 16px;
}
.product-label {
  padding: 12px;
  width: fit-content;

  color: white;
  background-color: #f87060;

  font-weight: 600;
  border-radius: 8px;

  position: absolute;
  top: 24px;
  left: -8px;
}
.product-item-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}
.price {
  margin-top: 24px;
}

/*---- About Section ----*/
.about-content {
  display: flex;
}
.about-image {
  width: 50%;
  object-fit: cover;
}
.about-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}