/* Global Style */
* {
    /* border : 1px solid red ; */
    box-sizing: border-box;
    /* overflow-x : hidden; */
}

/* Add Form */
#add-activity-form {
    width: 70vw;
    height: 100vh;
    margin: auto auto;
    padding: 32px 64px 32px 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: auto;
}
label {
    margin-right: 18px;
}
.input-form-container {
    /* padding-left: 50px; */
    display: flex;
    justify-content: center;
}
.form-item {
    padding: 8px 0px;
    margin: 3rem 0px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: start;
}
/* Time form */
.time-form-container {
    display: flex;
    align-items: flex-end;
    margin: 18px 0 0 0;
}
.time-form-header {
    display: flex;
    align-items:flex-end;
    margin-right: 8px;
    height: 50px
}
#time-header-text {
    margin-bottom: 0 ;
    margin-righ : 8px;
}
.time-form-item {
    margin-top: 40px;
    margin-right: 18px;
}
.time-form-item-text {
    margin-bottom: 0;
}
.time-specify-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#create-btn {
    width: 15vw;
    padding: 1rem;
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
}




