/* Navbar */
#nav-bar {
    width: 100vw;
    height: 64px;
    background-color:#e1e1e1 ;
}
.navbar-container {
    height: 100%;
    width: 100%;
    padding: 0 24px;
    display: flex;
    justify-content: space-between ;
}
.navbar-logo{
    height: 100%;
    display: flex;
    align-items: center;
}
.navbar-logo img {
    height: 100%;
    object-fit: cover;
  }
.nav-bar-logo-text {
    font-size: 28px;   
}
#nav-logo-text-feature {
  color: #e73725;
}

.navbar-link-container ul {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}
ul .link-list {
    padding: 0px 8px 0px 0px ;
    list-style-type: none
}
ul .link-list a{
  text-decoration: none;
  color: #000;
}

/* Dropdown Button */
.dropbtn {
    background-color: #e73725;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #e1e1e1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #e73725;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
    
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #e73725; color: #fff; }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #010000;}